#{extends 'main.html' /}

#{list items:cadastrarL, as: 'cl'}
                <div class="box">
                   <img src="@{Inicio.verFoto(cl.id)}" alt="Foto do local" />
                   <h3>${cl.nomeLocal}</h3>
                   <p>${cl.vantagens}</p>
                   <p>${cl.valor}</p>
                   <p><a href="${cl.localização}">${cl.localização}</a></p>
                   <p>${cl.rua} ${cl.Bairro} ${cl.numero}</p>
                   <p>${cl.valor}</p>
                </div>
    #{/list}
